* {
    border: 0px solid red;
}

div {
    margin: 5px; comment: not for the intro part thing;
    padding: 5px;
}

h4,
h5 {
    height: 0px;
    padding: 0px;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

nav ul li {
    display: inline;
    text-align: center;
    flex: 1;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
}