* {
    border: 0px solid red;
}

body {
    margin: 0;
    background:
    top / contain no-repeat url(/img/TEXTProject2-Poster_Mailer.jpg);
    background-size: cover;
}

main {
    margin: 5px;
    padding: 5px;
}
div {
    margin: 5px;
    padding: 5px;
}

h4,
h5 {
    padding: 0px;
    font-family: Bebas Neue;
    font-weight: bold;
}

h5{
    font-size: 1.75em;
    margin-top: 0em;
    margin-bottom: .5em;
}

h4{
    font-size: 2.5em;
    margin-bottom: 0em;
    margin-top: 0;
}

h2{
    font-size: 3em;
    font-family: Bebas Neue;
    font-weight: bold;
    text-align: center;
    text-shadow: -3px 2px white;
}

h3{
    font-size: 1.75em;
    font-family: Bebas Neue;
    margin-top: 0;
    margin-bottom: .1em;
}

header {
    text-align: center;
    font-family: Bebas Neue;
    background-color: #74B2E1;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    background-color: #F37334;
}

nav ul li {
    display: inline;
    text-align: center;
    flex: 1;
    font-size: 1.5em;
    font-family: Bebas Neue;
}

p {
    font-family: Trebuchet MS;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 0em;
}

h6 {
    font-family: Trebuchet MS;
    font-size: 1.25em; 
    font-weight: bold;
    margin: 0;
    
}

img {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    max-width: 15em;
}

.show {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 5px 5px rgba(0, 0, 0, .75);
    border-radius: 25px;
    padding: 1em;
    margin-bottom: 1em;
}

.intro {
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 5px 5px rgba(0, 0, 0, .75);
    border-radius: 25px;
    padding: 1em;
    margin-bottom: 1em;
}

.intro p {
    margin-bottom: 0.1em;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #74B2E1;
}

footer div {
    flex: 1;
}

.f1 {
    text-align: left;
    padding-left: 3em;
    padding-top: 2em;
    color: black;
}

.f1 h6 {
    margin-bottom: 1em;
    font-size: 4vw;
}

.f1 p {
    font-size: 3vw;
}

.f2 ul {
    list-style-type: none;   
}

.f2 ul li {
    margin-bottom: 0.75em;
    font-size: 4vw;
    color: black;
}

.f3 img {
    max-width: 30vw;
}

a {
    color: black;
    text-decoration: none;
    font-family: Bebas Neue;
}