* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    /*background: #ccc;*/
    background:
    top / contain no-repeat content-box linear-gradient(to bottom,rgba(0,0,0,0.5), 10%, rgba(0,0,0,0), 90%, rgba(0,0,0,0.5)),
    top / contain no-repeat url(top-image.png),
    bottom / contain no-repeat url(bottom-image.png),
    white;
    border-top: 1mm solid red;
    border-bottom: 1mm solid green;

  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: top / contain no-repeat url(logo.png) /*filter */;
    filter: drop-shadow(5px 2px 5px black);
  }
  
  /* Your CSS below here */